::before {
    font-style: oblique;
    font-size: 12px;
}
.ng-valid::before {
    content: 'válido ATR';
}
.ng-invalid::before {
    content: 'inválido';
}
.ng-pending::before {
    content: 'pendiente (async)';
}
.ng-pristine::before {
    content: 'prístino';
}
.ng-dirty::before {
    content: 'sucio';
}
.ng-untouched::before {
    content: 'sin tocar';
}
.ng-touched::before {
    content: 'tocado 🤪';
} 